body{
  background: grey;
  margin-left: auto;
  margin-right: auto;
}

.box{
  position: absolute;
  top: 40px;
  right: 40px;
  padding: 5px;
  background: #A9DFBF;
}

.box a{
  width: 40px;
  height: 40px;
  float: left;
  text-indent: -9999px;
  margin: 5px;
  cursor: pointer;
}

.colored{
  background-color: black;
  color:white;
}


#titulo{
  text-align: center;
}

#nav{
  width: 800px;
}

.a{
  text-decoration: none;
  color: yellow;
}

#nav ul{
list-style-type: none;
}

#troca{
  position: absolute;
  left: 37%;
  top: 6%;
  background: #62AAC5;
}

.selected{
  font-weight: bold;
}

.calculate{
  text-align: center;
}

#main{
  text-align: center;
}

#copyright{
  text-align: center;
  color:black;
}
.modal-notify .modal-header {
  border-radius: 3px 3px 0 0;
}
.modal-notify .modal-content {
  border-radius: 3px;
}