body{
  background: grey;
  margin-left: auto;
  margin-right: auto;
}

.box{
  position: absolute;
  top: 40px;
  right: 40px;
  padding: 5px;
  background: #A9DFBF;
}

.box a{
  width: 40px;
  height: 40px;
  float: left;
  text-indent: -9999px;
  margin: 5px;
  cursor: pointer;
}

.colored{
  background-color: black;
  color:white;
}


#titulo{
  text-align: center;
}

#nav{
  width: 800px;
}

.a{
  text-decoration: none;
  color: yellow;
}

#nav ul{
list-style-type: none;
}

#troca{
  position: absolute;
  left: 37%;
  top: 6%;
  background: #62AAC5;
}

.selected{
  font-weight: bold;
}

.calculate{
  text-align: center;
}

#main{
  text-align: center;
}

#copyright{
  text-align: center;
  color:black;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}